.layout-left-right {
  position:relative;
  min-width: 300px;
  min-height: 500px;
  margin-bottom:70px;
}

/*
 * Sidebar
 */
.layout-left-right .sidebar-left {
  display: none;
}
.layout-left-right .sidebar-right {
  display: none;
}
@media (min-width: 768px) {
  .layout-left-right .sidebar-left {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .layout-left-right .sidebar-right {
    display: block;
  }
}

/* Sidebar navigation */
.layout-left-right .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.layout-left-right .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.layout-left-right .nav-sidebar > .active > a,
.layout-left-right .nav-sidebar > .active > a:hover,
.layout-left-right .nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
.layout-left-right .main {
  padding: 20px;
  position: relative;
  top:51px;
  left:0;
}
@media (min-width: 768px) {
  .layout-left-right .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.layout-left-right .main .page-header {
  margin-top: 0;
}