/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require mobile
*= require bootstrap-3.3.7-dist/css/bootstrap
*= require bootstrap-datetimepicker-4.17.47/build/css/bootstrap-datetimepicker.min
*= require jquery-ui-1.12.1.Autocomplete/jquery-ui
*= require messenger-1.5.0/build/css/messenger
*= require messenger-1.5.0/build/css/messenger-theme-future
*= require jqcloud/jqcloud
*= require jstree-3.3.5/dist/themes/default/style
*= require_self
*/
.dashboard-header {
    z-index:10000;
}
.modal {
    z-index:10001;
}
.modal-title {
    font-size: 24px !important;
    font-weight:bold;
}
.modal-fieldset {
    padding:20px 15px 0 15px;
}
.main-title {
    font-size:30px;
    margin-top:5px;
    margin-bottom:15px;
    font-weight: bold;
}
.checkbox-label {
    min-width:130px;
}
.chart-box {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 15px;
    font-weight: bold;
}
.navbar-brand-image {
    float: left;
    height: 50px;
    padding:5px;
}
.navbar-brand-image img {
    height:100%;
    display:block;
}
.black-screen {
    background-color: black;
}

/* slide */
.carousel.slide {
    position:relative;
    height: 568px;
    width: 100%;
    padding-top: 115px;
    background-color:#202e57;
    overflow:hidden;
}
.carousel-inner {
    width: 1150px;
    height:100%;
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner .item{
    width: 100%;
    height:100%;
}
.slide-image {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 526px;
    max-height: 370px;
    -webkit-animation: banner-slide 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s 1;
    -moz-animation: banner-slide 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s 1;
    -o-animation: banner-slide 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s 1;
    animation: banner-slide 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0s 1
}
.carousel-caption {
    position:absolute;
    left:0;
    top:0;
    text-align: left;
    color:white;
}
.carousel-caption h1 {
    font-weight: normal;
    font-size: 48px;
}
.carousel-caption a {
    color:white !important;
}
.carousel-caption .subheading {
    font-size: 18px;
    margin: 0 0 10px;
}
.carousel-control {
    background-image: none !important;
}

/* pagination */
.pagination {
    background: #ABB3B9;
}
.pagination > a,
.pagination > span {
    display: inline-block;
    background: transparent;
    border: none;
    border-left: 2px solid #e4e7ea;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    min-height: 41px;
    min-height: inherit\9;
    min-width: 41px;
    outline: none;
    padding: 12px 10px;
    text-align: center;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}
.pagination > a:hover,
.pagination > span:hover,
.pagination > a:focus,
.pagination > span:focus {
    background-color: #1abc9c;
    color: #ffffff;
}
.pagination > a:active,
.pagination > span:active {
    background-color: #1abc9c;
    color: #ffffff;
}
.pagination .currentStep {
    background-color: #1abc9c;
    color: #ffffff;
    border-color: #dfe2e5;
}

/* else */
.dashboard-header a {
     font-weight:bold;
}
.ie7 .navbar-form, .ie8 .navbar-form {
    margin-top:9px;
}
.ie7 #cloud-demo, .ie8 #cloud-demo {
    max-width:618px;
}
.ie7 #canvasEx, .ie8 #canvasEx {
    max-width:1230px;
}
.ui-tooltip {
    font-size:12px;
}
.ui-autocomplete {
    z-index:99999;
    font-size:14px;
}
html, body {
    height:100%;
}
.form-control {
    margin-bottom:5px;
}

.kReadonly {
    color:black !important;
}
.table {
    font-size:14px;
    margin-top:10px;
}
.table td {
    vertical-align: middle !important;
}
.modal label {
    display:inline-block !important;
    min-width:105px;
}